@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--next-btn-color: #059669;
	--prev-btn-color: rgb(56 189 248);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: var(--prev-btn-color);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--next-btn-color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: center;
	align-items: start;
	min-height: 100vh;
}

/* Progressbar */

.progress {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 2px;
	width: 0%;
	transition: 0.3s;
	z-index: -1;
}

/*

.progress-step {
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #dcdcdc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-step::before {
	counter-increment: step;
	content: counter(step);
}

.progress-step::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 0.5rem);
	font-size: 0.85rem;
	color: #666;
}

.progress-step-active {
	background-color: var(--primary-color);
	color: #f3f3f3;
}
*/

/* Form */

.form-step {
	display: none;
	transform-origin: top;
	animation: animate 0.5s;
}

.form-step-active {
	display: block;
}

.input-group {
	margin: 2rem 0;
}

.animate-entry {
	transform-origin: top;
	animation: animate 0.5s;
}

@keyframes animate {
	from {
		transform: scale(1, 0);
		opacity: 0;
	}
	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}

/* Button */
.btns-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.btn {
	padding: 0.75rem;
	display: block;
	text-decoration: none;
	color: #f1f1f1;
	text-align: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.3s;
}

.btn-next,
.btn-submit {
	background-color: var(--next-btn-color);
}

.btn-prev {
	background-color: var(--prev-btn-color);
}

.btn-next:hover,
.btn-submit:hover {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--next-btn-color);
}

.btn-prev:hover {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--prev-btn-color);
}
